<ol>
  <li>
    <div>
    <mat-form-field class="example-full-width" mat-line>
      <input matInput placeholder="问题" value="Sushi"v disabled="disabled">
    </mat-form-field>

    <mat-form-field class="example-full-width" mat-line>
      <input matInput placeholder="答案" value="我不知道" disabled = "disabled">
    </mat-form-field>
    </div>
    <mat-icon>build</mat-icon>
    <mat-icon class="lefticon">arrow_upward</mat-icon>
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>delete</mat-icon>
  </li>
  <li>
    <div>
      <mat-form-field class="example-full-width" mat-line>
        <input matInput placeholder="问题" value="Sushi"v disabled="disabled">
      </mat-form-field>

      <mat-form-field class="example-full-width" mat-line>
        <input matInput placeholder="答案" value="我不知道" disabled = "disabled">
      </mat-form-field>
    </div>
    <mat-icon>build</mat-icon>
    <mat-icon class="lefticon">arrow_upward</mat-icon>
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>delete</mat-icon>
  </li>
</ol>
<button mat-raised-button color="primary" class="first">增加问题</button>
<button mat-raised-button color="primary">保存修改</button>
