<ol>
  <li>
    <mat-form-field class="example-full-width" mat-line>
      <input matInput placeholder="问题" value="What is your name?" disabled="disabled">
    </mat-form-field>
    <mat-form-field  mat-line class="half-fill">
        <span>选项A:</span>
        <input matInput placeholder="选项描述" value="Jobs"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span>选项B:</span>
      <input matInput placeholder="选项描述" value="James"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span>选项C:</span>
      <input matInput placeholder="选项描述" value="Yummi"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span class="right">选项D:</span>
      <mat-icon >check_circle</mat-icon>
      <input matInput placeholder="选项描述" value="Clove"  disabled="disabled" class="choice">
    </mat-form-field>
    <br>
    <mat-icon>build</mat-icon>
    <mat-icon class="lefticon">arrow_upward</mat-icon>
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>delete</mat-icon>
  </li>
  <li>
    <mat-form-field class="example-full-width" mat-line>
      <input matInput placeholder="问题" value="What is your name?" disabled="disabled">
    </mat-form-field>
    <mat-form-field  mat-line class="half-fill">
      <span class="right">选项A:</span>
      <mat-icon >check_circle</mat-icon>
      <input matInput placeholder="选项描述" value="Jobs"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span>选项B:</span>
      <input matInput placeholder="选项描述" value="James"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span>选项C:</span>
      <input matInput placeholder="选项描述" value="Yummi"  disabled="disabled" class="choice">
    </mat-form-field>
    <mat-form-field class="half-fill" mat-line>
      <span>选项D:</span>
      <input matInput placeholder="选项描述" value="Clove"  disabled="disabled" class="choice">
    </mat-form-field>
    <br>
    <mat-icon>build</mat-icon>
    <mat-icon class="lefticon">arrow_upward</mat-icon>
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>delete</mat-icon>
  </li>
</ol>
<button mat-raised-button color="primary">增加题目</button>
<button mat-raised-button color="primary">保存修改</button>
<button mat-raised-button color="primary">完成情况</button>
